<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nekomimi.gankio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".NekoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.TestActivity"
            android:label="@string/name_testactivity"/>
        <activity
            android:name=".HomeTask.HomeActivity"
            android:theme="@style/HomeTheme"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DetailActivity"
            android:label="@string/name_detailactivity" />
        <activity android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="582c304e734be448f5001d93" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="39a2976be87f1fec418691952d90dd10" >
        </meta-data>
    </application>

</manifest>
